@media screen and (max-width: 760px) {
  header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header .container .logo {
    margin: 0;
  }
  header .container nav {
    margin: 0;
  }

  main .filme-principal {
    background-position: center;
  }
  main .filme-principal .botoes .butao {
    width: 300px;
  }
}
